<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Light</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForgetPwdServlet</display-name>
    <servlet-name>ForgetPwdServlet</servlet-name>
    <servlet-class>servlet.ForgetPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPwdServlet</servlet-name>
    <url-pattern>/ForgetPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePwdServlet</display-name>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <servlet-class>servlet.UpdatePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <url-pattern>/UpdatePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductServlet</display-name>
    <servlet-name>FindProductServlet</servlet-name>
    <servlet-class>servlet.FindProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductServlet</servlet-name>
    <url-pattern>/FindProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>servlet.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/list_cart.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/list_order.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>servlet.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelProductServlet</servlet-name>
    <servlet-class>servlet.DelProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelProductServlet</servlet-name>
    <url-pattern>/DelProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderServlet</display-name>
    <servlet-name>FindOrderServlet</servlet-name>
    <servlet-class>servlet.FindOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderServlet</servlet-name>
    <url-pattern>/FindOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderAdminDetailServlet</display-name>
    <servlet-name>OrderAdminDetailServlet</servlet-name>
    <servlet-class>servlet.OrderAdminDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAdminDetailServlet</servlet-name>
    <url-pattern>/OrderAdminDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminPwdServlet</display-name>
    <servlet-name>UpdateAdminPwdServlet</servlet-name>
    <servlet-class>servlet.UpdateAdminPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminPwdServlet</servlet-name>
    <url-pattern>/UpdateAdminPwdServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/index.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>OrderAdminSendServlet</display-name>
    <servlet-name>OrderAdminSendServlet</servlet-name>
    <servlet-class>servlet.OrderAdminSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAdminSendServlet</servlet-name>
    <url-pattern>/OrderAdminSendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderReceiveServlet</display-name>
    <servlet-name>OrderReceiveServlet</servlet-name>
    <servlet-class>servlet.OrderReceiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderReceiveServlet</servlet-name>
    <url-pattern>/OrderReceiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>servlet.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/FindUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserServlet</display-name>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>servlet.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/DelUserServlet</url-pattern>
  </servlet-mapping>
</web-app>